In [2]:
x = 5
y = "John"
# assign
print(x)
print(y)

5
John

In [3]:
x == 5
# equal

True

In [9]:
# x is integer 整數
x = 5
# y is float 浮點數
y = 5.0
# z is string 字串
z = "5"
print(x, type(x))
print(y, type(y))
print(z, type(z))

5 <class 'int'>
5.0 <class 'float'>
5 <class 'str'>

In [10]:
# x is integer 整數
x = 5
print(x)
print(x+1)

5
6

In [11]:
# y is float 浮點數
y = 5.0
print(y)
print(y+1)

5.0
6.0

In [12]:
# z is string 字串
z = "5"
print(z)
print(z+1)

5

TypeError: can only concatenate str (not "int") to str

In [14]:
# z is string 字串
z = "5"
print(int(z)+1)
print(float(z)+1)
print(z+str(1))

6
6.0
51

In [19]:
print(10 > 9)
print(10 == 9)
print(10 != 9)
print(10 < 9)

True
False
True
False

In [23]:
print(10 > 9)
print(10 == 9)
print((10 > 9)and(10 == 9))
print((10 > 9)or(10 == 9))

True
False
False
True

In [18]:
a = (10 > 9)
b = (10 == 9)
print(a)
print(int(a))
print(b)
print(int(b))

True
1
False
0

In [25]:
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

In [26]:
print(len(mylist))
print(mylist[0])
print(mylist[1])
print(mylist[2])

3
apple
banana
cherry

In [27]:
mylist = [ ["apple", 1], [2, "banana"], ["cherry", 3] ]
mylist

[['apple', 1], [2, 'banana'], ['cherry', 3]]

In [28]:
import pandas as pd

In [29]:
pd.DataFrame(mylist)

        0       1
0   apple       1
1       2  banana
2  cherry       3

In [30]:
print(mylist)
print(mylist[0])
print(mylist[0][1])

[['apple', 1], [2, 'banana'], ['cherry', 3]]
['apple', 1]
1